<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据可视化</title>
    <link href="../styles/common.css" rel="stylesheet">
    <script src="../scripts/Plugin/jquery-3.3.1.min.js"></script>
    <script src="../scripts/Plugin/echarts.min.js"></script>
    <script src="../scripts/Plugin/bmap.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script src="../scripts/index.js"></script>
    <script src="../scripts/Plugin/laydate/laydate.js"></script>
</head>

<style>
    #mapChart {
        width: 93%;
        height: 93%;
        display: inline-block;
        /* padding-left: 2.25%; */
        /* padding-top: 2.2%; */
        position: relative;
        /* background-color: rgb(229, 227, 223); */
        overflow: hidden;
        transform: translateZ(0px);
        margin: 3%;
    }


</style>
<body>
    <div class="div_any">
                <div class="div_any_title any_title_width"></div>
                <div id="mapChart">
            </div>
    </div>
</body>

<script src="https://map.qq.com/api/js?v=2.exp&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77&callback=init"></script>

<script>
    var mapKeyOf = {}
    var polyline = undefined
    window.onload = function () {
        navigator.geolocation.getCurrentPosition((c) => {

            let center = new qq.maps.LatLng(c.coords.latitude, c.coords.longitude)
            window.map = new qq.maps.Map(document.getElementById("mapChart"), {
                center: center,      // 地图的中心地理坐标。
                zoom: 100000                                           // 地图的中心地理坐标。
            });

            let marker = new qq.maps.Marker({
                position: center,
                map: map,
                decoration: new qq.maps.MarkerDecoration("我"),
                zIndex: 114514
            })

            //自己的marker
            qq.maps.event.addListener(marker, "click", function () {
                console.log('pan to me')
                map.panTo(center);
            });

            //附近的marker
            const vList = [];

            let all = 114514;
            const fetchDistance = async (pIndex = 1) => {
                return await fetch("/medicineNearBy?page_index=" + pIndex + "&pos=" + c.coords.latitude + "," + c.coords.longitude)
                    .then((v) => v.json())
                    .then((v) => {
                        all = Math.floor(v.count / 20 + 1);
                        console.log('all 为', all)
                        return v.data;
                    }).catch((v) => {
                        alert("获取附近地点失败")
                        console.log(v)
                    })
            }

            const getHosts = async () => {
                for (let i = 1; i <= all; i++) {
                    console.log('拉取第', i, '页的数据，共', all, "页,每页20个")
                    let a = await fetchDistance(i);

                    a.forEach((i) => {
                        vList.push(i)
                    })
                }

                vList.forEach(v => {
                    const marker = new qq.maps.Marker({
                        position: new qq.maps.LatLng(v.location.lat, v.location.lng),
                        map: map,
                        title: v.title
                    })

                    window.mapKeyOf[v.title] = new qq.maps.LatLng(v.location.lat, v.location.lng)
                    qq.maps.event.addListener(marker, "click", async function () {
                        if (polyline !== undefined) {
                            console.log("remove polyline")
                            polyline.setMap(null)
                            polyline = undefined
                        }
                        let data = await fetch(`/waypoint?a1=${c.coords.latitude}&n1=${c.coords.longitude}&a2=${v.location.lat}&n2=${v.location.lng}`)
                            .then((v) => v.json())
                        if (data.status !== 0) {
                            layer.msg(data['message'])
                            return
                        }
                        data = data.result.routes[0].polyline

                        const qqPos = []
                        for (var i = 2; i < data.length; i++) {
                            data[i] = data[i - 2] + data[i] / 1000000
                        }

                        for (let i = 0; i + 1 <= data.length; i += 2) {
                            qqPos.push(new qq.maps.LatLng(data[i],data[i+1]))
                        }

                        polyline = new qq.maps.Polyline({
                            //折线是否可点击
                            clickable: true,
                            //鼠标在折线上时的样式
                            cursor: 'crosshair',
                            //折线是否可编辑
                            editable: true,
                            map: map,
                            //折线的路径
                            path: qqPos,
                            //折线的颜色
                            strokeColor: '#000000',
                            //可以设置折线的透明度
                            //strokeColor: new qq.maps.Color(0, 0, 0, 0.5),
                            //折线的样式
                            strokeDashStyle: 'butt',
                            //折线的宽度
                            strokeWeight: 3,
                            //折线末端线帽的样式
                            strokeLinecap: 'square',
                            //折线是否可见
                            visible: true,
                            //折线的zIndex
                            zIndex: 1000


                        });
                    });
                })
            }
            getHosts();
        }, (err) => {
            console.log(err)
            switch (err.code) {
                case 1:
                    alert("用户拒绝定位！")
                    break
                default:
                    alert("未知错误!")
                    break
            }
        }, {
            enableHighAccuracy: true
        })
    }

    function calculateDistance(point1, point2) {
        console.log('calc')
        const R = 6371e3; // 地球半径，单位：米
        const lat1 = point1.lat * Math.PI / 180; // 纬度，转换为弧度
        const lat2 = point2.lat * Math.PI / 180; // 纬度，转换为弧度
        const deltaLat = (point2.lat - point1.lat) * Math.PI / 180; // 纬度差，转换为弧度
        const deltaLon = (point2.lon - point1.lon) * Math.PI / 180; // 经度差，转换为弧度

        const a = Math.sin(deltaLat / 2) * Math.sin(deltaLat / 2) +
            Math.cos(lat1) * Math.cos(lat2) *
            Math.sin(deltaLon / 2) * Math.sin(deltaLon / 2);
        const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));


        // 最终距离，单位：米
        return R * c;
    }
</script>
</html>
