<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>智慧医药系统 - 添加视频</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/images/cropped-favicon-32x32.png"/>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>

    <link href="assets/css/plugin.css" rel="stylesheet" type="text/css"/>

    <link href="assets/css/dashboard.css" rel="stylesheet" type="text/css"/>

    <link href="assets/fonts/flaticon.css" rel="stylesheet" type="text/css"/>

    <link href="assets/css/icons.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="assets/fonts/line-icons.css" type="text/css"/>
    <link rel="stylesheet" href="common/font-awesome/css/font-awesome.min.css">
</head>

<style>
    .upload_btn {
        width: 120px;
        height: 120px;
        border: 3px dashed grey;
        text-align: center;
        line-height: 120px;
        font-size: 80px;
    }
    .notclick{
        pointer-events: none;
    }
</style>
<body>

<div th:replace="common/common-bar::#header"></div>

<div id="dashboard">
    <div class="container">
        <div class="dashboard-main">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div th:replace="common/common-bar::#dashboard-sidebar(cur='videos')"></div>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="dashboard-content">
                        <div class="dashboard-form mb-4">
                            <div class="row">
                                <div class="form-group" th:hidden="${video.getId() == null}">
                                    <label>ID</label>
                                    <input id="id" disabled type="text" th:value="${video.getId()}"/>
                                </div>
                                <div class="form-group">
                                    <label>标题</label>
                                    <input id="title" type="text" th:value="${video.getTitle()}"/>
                                </div>
                                <div class="form-group">
                                    <label>描述</label>
                                    <input id="description" type="text" th:value="${video.getDescription()}"/>
                                </div>
                                <div class="form-group">
                                    <label>视频</label>
                                    <div id="progress" class="upload_btn" onclick="$('#fileVideo').click()">+</div>
                                    <input type="file" hidden name="" id="fileVideo">
                                    <input id="link" type="text" th:value="${video.getLink()}"/>
                                </div>
                                <button class="btn btn-na" onclick="saveVideo()">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    function saveVideo() {
        let id = $('#id').val();
        let title = $('#title').val();
        let description = $('#description').val()
        let link = $('#link').val()
        let video = $("#fileVideo").get(0)?.files[0]
        $("#progress").addClass("notclick");//设为不可点击
        $("#progress").css('font-size','30px')//设为不可点击
        console.log(video)
        //未选择新视频，上传之。
        if (video !== undefined) {
            var formdata = new FormData();
            formdata.append("file", $("#fileVideo").get(0).files[0]);
            $.ajax({
                type: "POST",
                url: "file/upload",
                async: true,
                data: formdata,
                cache: false,
                processData: false,//ajax上传图片需要添加
                contentType: false,//ajax上传图片需要添加
                xhr: function () {
                    //获取ajax中的ajaxSettings的xhr对象，为upload属性绑定progress事件的处理函数
                    let xhr = $.ajaxSettings.xhr();
                    if (xhr.upload) {
                        //检查其属性upload是否存在
                        xhr.upload.addEventListener("progress", function (e) {
                            console.log(e)
                            if (!e.lengthComputable) {
                                console.log("不支持")
                                return;
                            }

                            //计算进度
                            let percent = (e.loaded / e.total * 100).toFixed(2);
                            $("#progress").html(percent+"%")
                        }, false);
                    }
                    return xhr;
                },


                success: function (data) {
                    console.log(data);
                    $("#progress").html("√")
                    link = data['data']
                    $('#link').val(link)

                    $.ajax({
                        type: "POST",
                        url: "video/save",
                        data: {
                            id,title,description,link
                        },
                        dataType: "json",

                        success: function (data) {
                            layer.msg(data['message']);
                            if (data['code'] === 'SUCCESS') {
                                setTimeout('reloadPage()', 2000);
                            }
                        }
                    });
                }
            });

            return
        }


        $.ajax({
            type: "POST",
            url: "video/save",
            data: {
                id,title,description,link
            },
            dataType: "json",
            success: function (data) {
                layer.msg(data['message']);
                if (data['code'] === 'SUCCESS') {
                    setTimeout('reloadPage()', 2000);
                }
            }
        });
    }
</script>

<div th:replace="common/common-bar::#back"></div>

<div th:replace="common/common-bar::#footer"></div>

<div th:replace="common/common-bar::#back-to-top"></div>

<script src="assets/js/jquery-3.5.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugin.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/custom-nav.js"></script>
<script src="assets/js/jpanelmenu.min.js"></script>
<script src="assets/js/dashboard-custom.js"></script>
<script src="common/utils/reg.js"></script>
<script src="common/layer/layer.js"></script>
<script src="common/custom.js"></script>
</body>
</html>
